<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="Websites">
                <setting id="label_1" type="text" label="Website #1 Name" default=""/>
		<setting id="url_1" type="text" label="Website #1 URL" default=""/>
                <setting id="icon_1" type="select" label="Website #1 Icon" values="Default|Website|YouTube|Facebook|Twitter|Donate|Shop|Email|Forum|Repo|Help" default="Default" />
                <setting id="label_2" type="text" label="Website #2 Name" default=""/>
		<setting id="url_2" type="text" label="Website #2 URL" default=""/>
                <setting id="icon_2" type="select" label="Website #2 Icon" values="Default|Website|YouTube|Facebook|Twitter|Donate|Shop|Email|Forum|Repo|Help" default="Default" />
                <setting id="label_3" type="text" label="Website #3 Name" default=""/>
		<setting id="url_3" type="text" label="Website #3 URL" default=""/>
                <setting id="icon_3" type="select" label="Website #3 Icon" values="Default|Website|YouTube|Facebook|Twitter|Donate|Shop|Email|Forum|Repo|Help" default="Default" />
                <setting id="label_4" type="text" label="Website #4 Name" default=""/>
		<setting id="url_4" type="text" label="Website #4 URL" default=""/>
                <setting id="icon_4" type="select" label="Website #4 Icon" values="Default|Website|YouTube|Facebook|Twitter|Donate|Shop|Email|Forum|Repo|Help" default="Default" />
                <setting id="label_5" type="text" label="Website #5 Name" default=""/>
		<setting id="url_5" type="text" label="Website #5 URL" default=""/>
                <setting id="icon_5" type="select" label="Website #5 Icon" values="Default|Website|YouTube|Facebook|Twitter|Donate|Shop|Email|Forum|Repo|Help" default="Default" />
                <setting id="label_6" type="text" label="Website #6 Name" default=""/>
		<setting id="url_6" type="text" label="Website #6 URL" default=""/>
                <setting id="icon_6" type="select" label="Website #6 Icon" values="Default|Website|YouTube|Facebook|Twitter|Donate|Shop|Email|Forum|Repo|Help" default="Default" />
                <setting id="label_7" type="text" label="Website #7 Name" default=""/>
		<setting id="url_7" type="text" label="Website #7 URL" default=""/>
                <setting id="icon_7" type="select" label="Website #7 Icon" values="Default|Website|YouTube|Facebook|Twitter|Donate|Shop|Email|Forum|Repo|Help" default="Default" />
                <setting id="label_8" type="text" label="Website #8 Name" default=""/>
		<setting id="url_8" type="text" label="Website #8 URL" default=""/>
                <setting id="icon_8" type="select" label="Website #8 Icon" values="Default|Website|YouTube|Facebook|Twitter|Donate|Shop|Email|Forum|Repo|Help" default="Default" />
                <setting id="label_9" type="text" label="Website #9 Name" default=""/>
		<setting id="url_9" type="text" label="Website #9 URL" default=""/>
                <setting id="icon_9" type="select" label="Website #9 Icon" values="Default|Website|YouTube|Facebook|Twitter|Donate|Shop|Email|Forum|Repo|Help" default="Default" />
                <setting id="label_10" type="text" label="Website #10 Name" default=""/>
		<setting id="url_10" type="text" label="Website #10 URL" default=""/>
                <setting id="icon_10" type="select" label="Website #10 Icon" values="Default|Website|YouTube|Facebook|Twitter|Donate|Shop|Email|Forum|Repo|Help" default="Default" />
	</category>
	<category label="Auto-View">
		<setting id="auto-view" type="bool" label="Enable Auto View" default="true"/>
		<setting id="MAIN" type="number" label="MAIN" default="500" enable="!eq(-1,false)"/>
		<setting id="INFO" type="number" label="INFO" default="515" enable="!eq(-1,false)"/>
   	</category> 	
</settings>
